img {
  max-height: 40px;
}

.list-group-item {
  color: #343a40 !important;
  background-color: #ffffff00;
  border: 1px solid #2C699E;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 5px;
}

.active {
  background-color: #337AB7;
  border: 1px solid #337AB7;
  color: #ffffff !important;
}


